nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.hello,
.interested,
.myWork {
  color: rgb(234, 212, 68);
  font-family: "Amaranth", sans-serif;
}

.carousel .carousel-item {
  width: 400px !important;
}
.fa-envelope,
.fa-file-pdf {
  font-size: 32px;
}
.fa-envelope {
  margin-top: 5px;
}
.fa-github-square,
.fa-linkedin,
.fa-facebook-square,
.fa-medium {
  font-size: 50px;
  margin-top: 14px;
}
.contact {
  margin-top: 32px;
}

.fa-github-square:hover,
.fa-linkedin:hover,
.fa-facebook-square:hover,
.fa-medium:hover {
  color: grey;
}

a {
  color: black;
}

.hello,
.myWork,
.interested {
  opacity: -1;
}
.parallax {
  opacity: -1;
}

.fa-cogs,
.fa-eye,
.material-icons,
.skills,
.skills2,
.skills3 {
  opacity: -1;
}
.port {
  border: 2px solid;
  border-radius: 3px;
  border-color: black;
}
